body{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    text-align:center;
   
}
 
label{
    display: block;
    margin: 0 0 30px 0;
   
   
}
 
input{
    width: 700px;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 10px
   
}
 
button{
    cursor: pointer;
    padding: 8PX;
    background-color:rgb(38, 149, 218);
    border-radius: 10px;
   
   
 
}
form {
    text-align:center;
   
  }
  html{
    background-color: #F0FFFF;
}